In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
""" docente = []
cargo = []
titulo = []
area = []

with open('dados/docentes.txt') as file:
    for line in file:
        line = line.lower()
        line = line.split("_")
        docente.append(line[0])
        cargo.append(line[1].strip())
        titulo.append(line[2])
        area.append(int(line[3]))

id = [i + 1 for i in range(len(area))]       
df = (pd.DataFrame({'id': id, 'nome': docente, 'cargo': cargo, 'titulo': titulo, 'id_area': area})
      .sort_values(by='id_area')
      .reset_index(drop=True))
df['id'] = [i + 1 for i in range(df.shape[0])]
df """
df=pd.read_csv("dados/docentes.csv")

In [3]:
""" cargo = pd.read_csv('dados/cargo.csv')
titulo = pd.read_csv('dados/titulo.csv')

dt_inicio = []
dt_fim = []
for i in range(df.shape[0]):
    dia = random.randint(1, 28)
    mes = random.randint(1, 12)
    ano = random.randint(1997, 2013)
    dt_inicio.append(f"{dia:02}/{mes:02}/{ano}")
    dt_fim.append("NULL") """

def create_fk(df_fk, column_fk):
    fk_values = {df_fk.loc[i, column_fk]: i + 1 for i in range(df_fk.shape[0])}
    return fk_values
        
""" #df.cargo = df.cargo.map(create_fk(cargo, 'cargo'))
df.titulo = df.titulo.map(create_fk(titulo, 'titulo'))
df['dt_fim'] = dt_fim
df['dt_inicio'] = dt_inicio
df.rename(columns={'cargo': 'id_cargo', 'titulo': 'id_titulo'}, inplace=True)
df = df[['id', 'nome', 'dt_inicio', 'dt_fim', 'id_cargo', 'id_titulo', 'id_area']] """

#df.to_csv('dados/docentes.csv', index=False)
df

,id,nome,dt_inicio,dt_fim,id_cargo,id_titulo,id_area
0,1,lúcio figueiredo de rezende,27/03/2012,NaN,2,1,23
1,2,marcelo friederichs landim de souza,03/03/2010,NaN,7,1,23
2,3,álvaro vinícius de souza coelho,17/10/2008,NaN,7,1,26
3,4,tricia souto santos,28/09/2008,NaN,2,4,26
4,5,vânia cordeiro da silva,21/02/2012,NaN,1,1,26
...,...,...,...,...,...,...,...
203,204,andré gustavo de araújo fernandes,26/11/2011,NaN,1,1,35
204,205,acácia gomes pinho,25/05/2003,NaN,2,4,35
205,206,rosilene aparecida de oliveira,17/06/2003,NaN,5,1,35
206,207,ivon pinheiro lobo,16/03/2011,NaN,1,1,35
207,208,tânia maria de brito,15/02/2011,NaN,7,1,35

In [4]:
id = [1, 2]
tipo = ['pratica', 'teórica']

tipo_aula = pd.DataFrame({'id': id, 'tipo_aula': tipo})
tipo_aula.to_csv("dados/tipo_aula.csv", index=False)

In [5]:
cod = []
turma = []

with open("dados/turma.txt") as file:
    for line in file:
        #line = line.lower()
        line = line.split("_")
        cod.append(line[0])
        turma.append(line[-1].replace("\n", ""))
        
id = [i for i in range(1, len(turma) + 1)]       
df_turma = pd.DataFrame({'id': id, 'turma': turma, 'id_disciplina': cod})
df_turma["id_semestre"] = [8 if i <= 60 else 7 for i in range(df_turma.shape[0])]
df_turma["id_curso"] = [7 for i in range(df_turma.shape[0])]
df_turma

disciplina = pd.read_csv('dados/disciplinas.csv')

df_turma.id_disciplina = df_turma.id_disciplina.map(create_fk(disciplina, 'cod'))
df_turma = df_turma.dropna().reset_index(drop=True).sort_values(by='id_semestre').reset_index(drop=True)
df_turma['id'] = id = [i for i in range(1, df_turma.shape[0] + 1)]
df_turma.id_disciplina = df_turma.id_disciplina.astype(int)

df_turma.to_csv("dados/turma.csv", index=False)