In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
""" docente = []
cargo = []
titulo = []
area = []

with open('dados/docentes.txt') as file:
    for line in file:
        line = line.lower()
        line = line.split("_")
        docente.append(line[0])
        cargo.append(line[1].strip())
        titulo.append(line[2])
        area.append(int(line[3]))

id = [i + 1 for i in range(len(area))]       
df = (pd.DataFrame({'id': id, 'nome': docente, 'cargo': cargo, 'titulo': titulo, 'id_area': area})
      .sort_values(by='id_area')
      .reset_index(drop=True))
df['id'] = [i + 1 for i in range(df.shape[0])]
df """
df=pd.read_csv("dados/docentes.csv")
df=df.sort_values(by=['id_area', 'nome']).reset_index(drop=True)

In [3]:
dt_inicio = []
dt_fim = []
for i in range(df.shape[0]):
    dia = random.randint(1, 28)
    mes = random.randint(1, 12)
    ano = random.randint(1997, 2013)
    dt_inicio.append(f"{dia:02}/{mes:02}/{ano}")
    dt_fim.append("NULL")

def create_fk(df_fk, column_fk):
    fk_values = {df_fk.loc[i, column_fk]: i + 1 for i in range(df_fk.shape[0])}
    return fk_values
     
df['dt_fim'] = dt_fim
df['dt_inicio'] = dt_inicio

df['id'] = [i for i in range(1, df.shape[0] + 1)]
#df.to_csv('dados/docentes.csv', index=False)
df

,id,nome,dt_inicio,dt_fim,id_cargo,id_titulo,id_area
0,1,lúcio figueiredo de rezende,15/04/2005,NULL,2,1,23
1,2,marcelo friederichs landim de souza,15/11/2005,NULL,7,1,23
2,3,antônio henrique figueira louro,09/05/2007,NULL,1,1,26
3,4,aprígio augusto lopes bezerra,08/12/2008,NULL,1,1,26
4,5,césar alberto bravo pariente,24/06/2008,NULL,1,1,26
...,...,...,...,...,...,...,...
203,204,roberto carlos felício,16/03/2003,NULL,5,1,35
204,205,rodrigo luis da silva ribeiro dos santos,23/03/2000,NULL,7,1,35
205,206,rosenira serpa da cruz,20/10/2006,NULL,5,1,35
206,207,rosilene aparecida de oliveira,04/06/2012,NULL,5,1,35
207,208,tânia maria de brito,23/07/2010,NULL,7,1,35

In [4]:
cod = []
turma = []

with open("dados/turma.txt") as file:
    for line in file:
        #line = line.lower()
        line = line.split("_")
        cod.append(line[0])
        turma.append(line[-1].replace("\n", ""))
        
id = [i for i in range(1, len(turma) + 1)]       
df_turma = pd.DataFrame({'id': id, 'turma': turma, 'id_disciplina': cod})
df_turma["id_semestre"] = [8 if i <= 60 else 7 for i in range(df_turma.shape[0])]
df_turma["id_curso"] = [7 for i in range(df_turma.shape[0])]
df_turma

disciplina = pd.read_csv('dados/disciplinas.csv')

df_turma.id_disciplina = df_turma.id_disciplina.map(create_fk(disciplina, 'cod'))
df_turma = df_turma.dropna().reset_index(drop=True).sort_values(by=['id_semestre', 'id_disciplina']).reset_index(drop=True)
df_turma['id'] = [i for i in range(1, df_turma.shape[0] + 1)]
df_turma.id_disciplina = df_turma.id_disciplina.astype(int)

#df_turma.to_csv("dados/turma.csv", index=False)
aula_teorica = df_turma[['id']].rename(columns={'id': 'id_turma'})
aula_pratica = df_turma[['id']].rename(columns={'id': 'id_turma'})

aula_pratica['id_tipo_aula'] = [1 for _ in range(aula_pratica.shape[0])]
aula_teorica['id_tipo_aula'] = [2 for _ in range(aula_teorica.shape[0])]

aula = pd.concat([aula_pratica, aula_teorica], axis=0).sort_values(by='id_turma').reset_index(drop=True)
aula['id'] = [i for i in range(1, aula.shape[0] + 1)]
aula = aula[['id', 'id_turma', 'id_tipo_aula']]
aula.to_csv("dados/aulas.csv", index=False)

In [5]:
doc_indicado = aula.copy(deep=True)
doc_indicado

len_pratica = doc_indicado[doc_indicado['id_tipo_aula'] == 1].shape[0]

id_docente = []
print(len_pratica)

for i in range(len_pratica):
    id_docente.append(random.randint(3, 27))
    
id_docente = id_docente + id_docente

doc_indicado = doc_indicado.sort_values(by=['id_tipo_aula', 'id'])
doc_indicado['id_docente'] = id_docente

doc_indicado = doc_indicado[['id', 'id_docente']].sort_values(by='id').rename(columns={'id': 'id_aula'})
doc_indicado.to_csv("dados/docentes_indicados.csv", index=False)

119